<style>
.dropdown-menu{min-width:3vw;}
    .navbar-header{

    height: 8vh;
    font-size: medium;
    }

.navbar{
    background-size: cover;
    margin-top:1%;
}


</style>
<nav class="navbar navbar-inverse" style="background-color: black;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: white;">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;&nbsp;S & E</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white; background-color: transparent;"><span class="glyphicon glyphicon-user"></span> Hello John</a>
            <ul class="dropdown-menu">
            <li><a href="transaction">Transaction</a></li>
            <li><a href="savings">Savings</a></li>
            <li><a href="topup">Top-up</a></li>
            <li><a href="rewards">Rewards</a></li>

          </ul>
      </li>
          <li><a href="#"style="color: white; background-color: transparent;"> <span class="glyphicon glyphicon-off"></span> Logout</a></li>
            </ul>
    </ul>
  </div>
</nav>
